.sm-Dashboard {
  &-body {
    margin: 0 10px 10px 10px;
    padding: 0 20px 20px 20px;
  }

  &-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 770px;
    padding: 12px;
    background: white;
    border: 2px solid #dedede;
    border-radius: 4px;
  }

  &-modalBody {
    display: flex;
    overflow: auto;
    max-height: 480px;
  }

  &-modalFooter {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
  }

  &-checkboxes {
    display: flex;
    flex-direction: column;
  }
}
