.sm-DetailedView {
    margin: 0 0 0 20px;
    position: relative;
    padding: 6px;
    border-radius: 4px;
    display: flex;
    max-width: 580px;

    &-metadata {
        margin: 15px 0 0 20px;
        font-size: 14px;

        strong {
            font-weight: 500;
        }
    }

    &-spectrogram {
        max-width: 300px;
    }
}
