.sm-DetailedView {
    margin: 0 0 0 10px;
    position: relative;
    padding: 8px;
    border-radius: 4px;
    display: flex;

    #MoreInfo {
        flex: 1;
        margin-left: 20px;
        white-space: pre-wrap;
    }
}
