.sm-DetailedView {
    margin: 0 0 0 10px;
    position: relative;
    padding: 8px;
    border-radius: 4px;
    display: flex;

    &-metadata {
        margin: 10px 0 0 20px;
        font-size: 14px;
    }

    &-spectrogram {
        max-width: 300px;
    }
}
