.sm-Overview {
    margin-top: 0;
    position: relative;
    border: 1px dashed #dedede;
    padding: 8px;
    border-radius: 4px;

    &-filterpanel {
        height: 100%; /* 100% Full-height */
        width: 0; /* 0 width - change this with JavaScript */
        position: absolute; /* Stay in place */
        z-index: 1; /* Stay on top */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.3s;
        margin: -8px;
        min-height: 100%;
        background-color: #f9f9f9;
        border-right: 1px dashed #dedede;
        display: flex;
        flex-direction: column;
        
        h6 {
            margin: 10px;
        }
    }

    &-filterpanelClose {
        position: absolute !important;
        left: 200px;
        top: 0;
        font-size: 25px;
    }

    &-filters {
        padding: 10px;
    }

    &-filter {
        position: absolute !important;
        top: 0;
        left: 0;
    }

    &-checkboxes {
        margin: 12px 0 12px 6px;
    }

    #beeswarm {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .popover {
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 3px;
        font-size: 11px;
        border: 1px solid #dedede;
        opacity: 0;
        padding: 4px;
        width: max-content;
        z-index: 999;
        color: white;
    }

    .yLabel {
       z-index: 999;
       margin-bottom: 10px;
       opacity: 0.7;
       font-size: 13px;
       font-weight: 600;
    }

    &-rangeSlider {
        margin-left: 8px;

        label {
            font-size: 12px;
        }
    }

    &-legends {
        display: flex;
        justify-content: center;
        padding-bottom: 8px;
        border-bottom: 1px dashed #dedede;
        flex-wrap: wrap;
    }

    &-legend {
        margin-right: 8px;
        font-size: 13px;
    }

    &-legendColor {
        margin-right: 3px;
    }
}
