.sm-Header {
    height: 54px;

    .navbar {
        height: 48px !important;
    }

    &-title {
        margin-left: 4px;
        background: -webkit-radial-gradient(#0065FF, #FF6666);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-button {
        text-transform: capitalize !important;
        margin-right: 4px !important;
    }

    &-right {
        display: flex;
    }
}
